* {
  box-sizing: border-box;
}

p {
  /* Alinhamento do texto para ambas opções de menu */
  position: relative;
  clear: right;
  font-size: 20px;
  text-align: left;
  margin-left: 8px;
}

/* Estilos para dispositivos desktop */
.container {
  display: flex;
}

section {
  flex: 1;
}

/* Estilos para dispositivos tablet */
@media (max-width: 991px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  section {
    flex: 1;
    margin-right: 10px;
  }

  section:nth-child(3) {
    flex-basis: 100%;
    margin-right: 0;
  }
  
  section:nth-child(1) h1 {
    order: 1;
  }
  
  section:nth-child(2) h2 {
    order: 2;
  }
  
  section:nth-child(3) h3 {
    order: 3;
  }
}


/* Estilos para dispositivos móveis */
@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
}

  /*Bordas para os textos*/
  .section {
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 20px;
    width: 90%;
    position:relative;
    overflow: auto;
  }
  
  .section-title {
    background-color: #f0f0f175;
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
    position:relative;
  }
  
  .section-text {
    margin-top: 20px;
    position:relative;
    
  }
  /* style.css */

.container section {
  text-align:auto;
  border: 3px solid black; /* Adiciona uma borda preta de 2px */
  background-color: rgba(167, 167, 167, 0.986); /* Define um fundo cinza */
  margin-bottom: 20px; /* Adiciona um espaçamento inferior de 20px entre as seções */
  background-position:right;
  margin-top: 10px;
  position:relative;
  
}

.container h2 {
  position:relative;
  float:right;/*Coloca a caixinha de subtitulo a dirteita*/
  font-size:125%;
  font-weight: bold;/*Deixa o texto em negrito*/
  text-align: center;/*alinha o texto no centro*/
  margin-top: -3px;/*diminui a distancia do topo*/
  margin-right: -3px;
  color: rgb(255, 255, 255); /* Define a cor do texto como branco */
  border: 3px solid black; /* Adiciona uma borda preta de 2px */
  background-color: rgba(202, 48, 48, 0.986); /* Define um fundo para chiken, beef e sushi*/
  padding: 3px; /* Adiciona um espaçamento interno de 3px */
  padding-right: 10%;
  padding-left: 10%;
  margin-bottom: 5px; /* Adiciona um espaçamento inferior de 5px entre as seções */
}

.container h1 {
  position:relative;
  float:right;/*Coloca a caixinha de subtitulo a dirteita*/
  font-size:125%;
  font-weight: bold;/*Deixa o texto em negrito*/
  text-align: center;/*alinha o texto no centro*/
  margin-top: -3px;/*diminui a distancia do topo*/
  margin-right: -3px;
  color: rgb(0, 0, 0); /* Define a cor do texto como branco */
  border: 3px solid black; /* Adiciona uma borda preta de 2px */
  background-color: rgba(247, 130, 126, 0.986); /* Define um fundo para chiken, beef e sushi*/
  padding: 3px; /* Adiciona um espaçamento interno de 3px */
  padding-right: 10%;
  padding-left: 10%;
  margin-bottom: 5px; /* Adiciona um espaçamento inferior de 5px entre as seções */
}
.container h3 {
  position: relative;
  float:right;/*Coloca a caixinha de subtitulo a dirteita*/
  font-size:125%;
  font-weight: bold;/*Deixa o texto em negrito*/
  text-align: center;/*alinha o texto no centro*/
  margin-top: -3px;/*diminui a distancia do topo*/
  margin-right: -3px;
  color: rgb(0, 0, 0); /* Define a cor do texto como branco */
  border: 3px solid black; /* Adiciona uma borda preta de 2px */
  background-color: rgba(247, 238, 115, 0.986); /* Define um fundo para chiken, beef e sushi*/
  padding: 3px; /* Adiciona um espaçamento interno de 3px */
  padding-right: 10%;
  padding-left: 10%;
  margin-bottom: 5px; /* Adiciona um espaçamento inferior de 5px entre as seções */
}
.container section {
  /* Restante do código CSS */
  
  margin-bottom: 20px; /* Adiciona um espaçamento inferior entre as seções */
  margin-right: 20px; /* Adiciona um espaçamento horizontal entre as seções */
  }

.container section:last-child {
margin-right: 0; /* Remove o espaçamento horizontal da última seção */
}

h1 {   /*centralizando titulo*/
  text-align: center;
}



/* Bordas para os textos */
.section {
  border: 3px solid black;
  padding: 10px;
  margin-bottom: 20px;
}